*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  background-color: rgb(15, 15, 15);
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}


/* ************ font ****************** */
@font-face {
  font-family: punk;
  src: url(/share/font/DeathMohawk_PERSONAL_USE_ONLY.otf);
}

@font-face {
  font-family: gothic;
  src: url(/share/font/Aligator.otf);
}

/* ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐ */


/* ########### header general ############## */
.header-container {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  position: fixed;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  background-color: #0000002f;
  box-shadow: 0 0 20px #ff0000;
  z-index: 9999;
  font-family: punk;
  font-size: 3.5rem;
}

.header-container-change {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0.5rem;
  left: 2rem;
  right: 2rem;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #ff0000 ,
        inset 0 0 10px #ff0000; 
  border: 2px solid #ff0000c0;
  background-color: #0000002f;
  z-index: 9999;
  font-family: punk;
  font-size: 3rem;
}




/* ************** HEADER LEFT **************** */
.header-left {
  width: 50%;
  height: 100%;
  margin-left: 10%;
}

.header-logo {
  width: 2.6rem;
  height: auto;
  padding: 0.2rem;
}


/* ************** HEADER CENTER *************** */
.header-center {
  width: 100%;
  height: 100%;
}

.header-list-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  text-transform: capitalize;
  color: #ff0000;

}

.header-list-center li {
  height: 100%;
  display: grid;
  place-items: center;
}
.header-list-center a{
  color: #ff0000;

}


/* ************* HEADER RIGHT *************** */
.header-right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: end;
  margin-right: 10%;
}

.sign-in-button {
  background-color: transparent;
  border: 2px solid #ff0000;
  border-radius: 20px;
  padding: 0.2rem 1rem;
  font-size: 1.3rem;
  color: #ff0000;
  text-transform: capitalize;
  text-wrap: nowrap;
  font-family: gothic;

}



/* ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐ */


/* ************* navBar & sidebar *************** */
.submenu {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 1rem;
  border-radius: 20px;
  transition: all 0.3s linear;
}

.submenu.show {
  display: block;
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: #7c00003b;
  box-shadow: 0 0 40px #ae0101a7;
  transition: all 0.3s linear;
  font-family: gothic;
}

.submenu.show h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #cf00a2;
}

.submenu-center {
  display: grid;
  gap: 2rem 2rem;
}

.submenu-center a {
  color: #ff0000;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.submenu-center i {
  color: #ff0000;
  margin-right: 0.3rem;
  font-style: normal;
}

.col-2 {
  grid-template-columns: repeat(2,1fr);
}
.col-3 {
  grid-template-columns: repeat(3,1fr);
}
.col-4 {
  grid-template-columns: repeat(4,1fr);
}

.sidebar-header {
  width: 100%;
  height: 100%;
  background-color: #ff000023;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: fixed;
  display: grid;
  place-items: center;
  visibility: hidden;
  transform: perspective(500px)translateZ(200px);
  transition: all 0.3s linear;
}

.sidebar-header.show {
  visibility: visible;
  transform: scale(1);
  transition: all 0.5s ease-out;
  font-family: gothic;
  z-index: 99999;
}

.sidebar-container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 6fr;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ff0000,
        inset 0 0 20px #ff0000;
  position: relative;
}

.CTF3 {
  width: 100%;
  height: auto;
}

.button-close {
  width: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  border: none;
}

.sidebar-b2 {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 1.5rem;
}

.title-sidebar {
  width: 3rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  color: #cf00a2;
}

.section-sidebar {
  display: flex;
  flex-direction: column;
  place-items: center;
}


.tilt-container {
  width: 60%;
  height: 60%;
  perspective: 1000px;
  display: grid;
  place-items: center;  
  position: relative; 
  overflow: hidden;
  box-shadow:0 0 20px #ff0000; 
  border-radius: 20px;
  border: 3px solid #e70000;
}

.tilt-element {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s linear;
}

.rr {
  width: 100%;
  height: 100%;
}

.glare{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
/* ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐ */


/* ************  SECTION  *************** */
.section1, .section2{
  height: 100vh;
  display: grid;
  place-items: center;
}




/* ⛧⛧⛧⛧⛧⛧⛧⛧ header responsive ⛧⛧⛧⛧⛧⛧⛧⛧⛧⛧⛧ */
@media screen and (0px <= width <= 800px) {
  .header-center {
    display: none;
  }

  .sign-in-button {
    display: none;
  }

  .hamburger-icon {
    width: 3rem;
  }

  .header-left {
    margin-left: 1rem;
  }

  .header-right {
    margin-right: 1rem;
  }

  .header-container-change {
    left: 1rem;
    right: 1rem;
  }

}

@media screen and (min-width: 800px) {
  .hamburger-icon {
    display: none;
  }
}




